<section class="section-social">
  <h3 id="contact">Contact</h3>

  <div class="social-icons">
    <a href="" class="icon-facebook">{% include icons/icon-facebook.html %}</a>
    <a href="" class="icon-twitter">{% include icons/icon-twitter.html %}</a>
    <a href="" class="icon-github">{% include icons/icon-github.html %}</a>
    <a href="" class="icon-linkedin">{% include icons/icon-linkedin.html %}</a>
    <a href="" class="icon-wechat">{% include icons/icon-wechat.html %}</a>
  </div>

  <hr class="bar">

  <a href="mailto:ningluo89@gmail.com" class="biglink">ningluo89@gmail.com</a>
</section>
